[MASTER]
init-hook='import sys; sys.path.append(".")'
disable=
  C0114, # missing-module-docstring
  C0115, # missing-class-docstring
  C0116, # missing-function-docstring
  E1102, # nor-callable, all the torch.* methods

[FORMAT]
max-line-length=120

[TYPECHECK]
generated-members=torch.*
